<div class="price-list-box" *ngIf="selectedFilter; else loading">
  <div>
    <ion-list
      *ngIf="filterType == 'category'"
      no-padding
      no-margin
      class="ion-list-border"
    >
      <ion-radio-group
        allow-empty-selection="true"
        name="radio-group"
        (ionChange)="radioGroupChange($event)"
      >
        <ion-item lines="none" class="catname" no-padding>
          Category
        </ion-item>
        <ion-item class="item-height" lines="none">
          <ion-list no-padding no-margin class="list-full">
            <ion-item
              *ngFor="let category of category; let i = index"
              lines="none"
              touchable
              no-padding
              (ionSelect)="radioSelect(category.type, $event, category.name)"
            >
              <ion-radio
                slot="start"
                name="{{ category.type }}"
                class="entry-check"
                value="{{ category.val }}"
                (click)="selectFilters(category.type, category.val, category.name)"
              ></ion-radio>
              <ion-label class="entry-text">{{ category.name }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list
      *ngIf="filterType == 'brand'"
      no-padding
      no-margin
      class="ion-list-border"
    >
      <ion-radio-group
        allow-empty-selection="true"
        name="radio-group"
        (ionChange)="radioGroupChange($event)"
      >
        <ion-item lines="none" class="catname" no-padding>
          Brands
        </ion-item>
        <ion-item class="item-height" lines="none">
          <ion-list no-padding no-margin class="list-full">
            <ion-item
              *ngFor="let brand of brand; let i = index"
              lines="none"
              touchable
              no-padding
              (ionSelect)="radioSelect(brand.type, $event, brand.name)"
            >
              <ion-radio
                slot="start"
                name="{{ brand.type }}"
                class="entry-check"
                value="{{ brand.val }}"
                (click)="selectFilters(brand.type, brand.val, brand.name)"
              ></ion-radio>
              <ion-label class="entry-text">{{ brand.name }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list
      *ngIf="filterType == 'sort'"
      no-padding
      no-margin
      class="ion-list-border"
    >
      <ion-radio-group
        allow-empty-selection="true"
        name="radio-group"
        (ionChange)="radioGroupChange($event)"
      >
        <ion-item lines="none" class="catname" no-padding>
          Sort By
        </ion-item>
        <ion-item class="item-height" lines="none">
          <ion-list no-padding no-margin class="list-full">
            <!-- <ion-item lines="none" touchable no-padding>
              <ion-radio slot="start" name="sort" class="entry-check" value="1"
                (click)="selectFilters('sort', 'high_earnings', 'sort')">
              </ion-radio>

              <ion-label class="entry-text">Earnings : High to Low</ion-label>
            </ion-item>

            <ion-item lines="none" touchable no-padding>
              <ion-radio slot="start" name="sort" class="entry-check" value="2"
                (click)="selectFilters('sort', 'low_earnings', 'sort')">
              </ion-radio>

              <ion-label class="entry-text">Earnings : Low to High</ion-label>
            </ion-item> -->

            <ion-item
              lines="none"
              touchable
              no-padding
              (ionSelect)="radioSelect('sort', $event, 'Price: High to Low')"
            >
              <ion-radio
                slot="start"
                name="sort"
                class="entry-check"
                value="high_price"
                (click)="selectFilters('sort', 'high_price', 'Price: High to Low')"
              >
              </ion-radio>

              <ion-label class="entry-text">Price : High to Low</ion-label>
            </ion-item>

            <ion-item
              lines="none"
              touchable
              no-padding
              (ionSelect)="radioSelect('sort', $event, 'Price: Low to High')"
            >
              <ion-radio
                slot="start"
                name="sort"
                class="entry-check"
                value="low_price"
                (click)="selectFilters('sort', 'low_price', 'Price: Low to High')"
              >
              </ion-radio>

              <ion-label class="entry-text">Price : Low to High</ion-label>
            </ion-item>

            <!-- <ion-item lines="none" touchable no-padding>
              <ion-radio slot="start" name="sort" class="entry-check" value="5"
                (click)="selectFilters('sort', 'top_selling', 'sort')">
              </ion-radio>

              <ion-label class="entry-text">Top Selling</ion-label>
            </ion-item> -->
          </ion-list>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <ion-footer class="price-footer">
    <ion-button
      class="clearallfilters"
      shape="round"
      fill="outline"
      size="large"
      (click)="cancelFilter()"
      >Cancel
    </ion-button>
    <!-- <ion-button
      *ngIf="filterType == 'category'"
      class="apply-reset"
      shape="round"
      fill="outline"
      size="large"
      (click)="isActive = !isActive"
      >Reset</ion-button
    >
    <ion-button
      *ngIf="filterType == 'brand'"
      class="apply-reset"
      fill="outline"
      shape="round"
      size="large"
      (click)="isActive = !isActive"
      >Reset</ion-button
    >
    <ion-button
      *ngIf="filterType == 'sort'"
      class="apply-reset"
      fill="outline"
      shape="round"
      size="large"
      (click)="isActive = !isActive"
      >Reset</ion-button
    > -->
    <ion-button
      class="apply-filteers"
      shape="round"
      size="large"
      (click)="applyFilter()"
      >Apply</ion-button
    >

    <!-- 
    <ion-button
      *ngIf="selectedFilter == 'brand'"
      class="apply-reset"
      shape="round"
      size="large"
      >Reset</ion-button
    >
    <ion-button
      *ngIf="selectedFilter == 'sort'"
      class="apply-reset"
      shape="round"
      size="large"
      >Reset</ion-button
    > -->
  </ion-footer>
</div>
<ng-template #loading>
  <ion-spinner
    name="crescent"
    style="--color:#3880ff;margin: 50px; height:50px; width:50px;"
    class="spinner-data"
  >
  </ion-spinner>
</ng-template>
