.ear-lab {
  display: flex;
  color: #fff;
}
.heading-icon {
  display: flex;
  color: #fff;
}
.earning-page.header-md:after {
  display: none !important;
}

.swiper-slide-active {
  .content-div {
    width: 110%;
    height: 53vh;
  }
}
