.home-header {
  display: flex;
  flex-direction: row;
}
.header-ion {
  text-align: right;
}
.header-logo {
  display: flex;
  align-items: center;
}
.heading-tab {
  padding: 15px 0px 15px 15px;
}
.more {
  --padding-right: 0;
}
.share {
  padding: 0 7px;
}
.dashboard {
  --ion-color-light: #ededed;
  margin-top: 20px;
}
.topchannel {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: normal;
  color: #4a4a4a;
}

.dashboard {
  .swiper-pagination {
    display: none !important;
  }
  .img-description h3 {
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    img {
      border-radius: 100px;
    }
  }
}
.swiper-pagination {
  display: none !important;
}
.swiper-slide img {
  border-radius: 100px;
}
.ion-text-wrap {
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 11px;
    color: #4a4a4a;
  }
}
.sc-ion-label-md-s h3 {
  width: 65px;
  height: 65px;
}
.footer-nav {
  height: 51px;
  box-shadow: 0 -3px 9px 0 rgba(36, 39, 44, 0.15);
  ion-label {
    line-height: 21px;
    font-size: 11px;
    color: #4a4a4a;
  }
  p {
    margin: 0;
    padding: 0;
    margin-top: 2px;
  }
  .tab-selected p {
    background-image: linear-gradient(135deg, #3023ae, #c86dd7);

    border-radius: 50px;
    width: 26px;
    height: 26px;
    margin-top: 3px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    svg {
      width: 18px;
    }
  }
  .tab-selected .logo-img path {
    fill: #fff !important;
  }
  .tab-selected #Path_6 {
    fill: #fff !important;
  }
  .tab-selected ion-label {
    color: #472dc2;
  }
  .logo-img path {
    fill: #4a4a4a;
  }
  .tab-selected .logo-img {
    g {
      opacity: 10 !important;
    }
  }
}
