<ion-content>
  <div style="height: 100vh;">
    <ion-card
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      "
    >
      <ion-row center>
        Please update your app to latest version!.
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-button color="primary" (click)="updateVesion()">Update</ion-button>
        <ion-button color="primary" (click)="updatelater()"
          >Update Latter</ion-button
        >
      </ion-row>
    </ion-card>
  </div>
</ion-content>
