<ion-header>
  <ion-toolbar class="heading-padd">
    <ion-buttons slot="secondary" (click)="searchlistModal()">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" (click)="leadformPopover()">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="heading-size">About Techjockey</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content
    class="privacy_policy_main"
    style="background: #f0f1f2;"
    color="primery"
  >
    <ion-grid class="privacy_policy_inner_bg">
      <ion-row>
        <ion-card
          styel="
        --background: #fff;
        padding: 10px 15px;"
          class="documentpages"
        >
          <h4>About Techjockey</h4>
          <p>
            Techjockey.com is an e-commerce platform, selling a wide range of
            software solutions to startups, SMEs, MSMEs, corporates, and even
            individuals. It caters to the demand for IT solutions across
            industries like Retail, e-Commerce, ITES, Hospitality, Healthcare,
            Education; and business functions such as HR, Sales, Marketing,
            Legal and many more.
          </p>
          <p>
            At Techjockey, business customers can purchase software products
            online by using various payments methods such as mobile wallets, Net
            Banking, Debit/Card, EMI and Credit. Besides, the platform
            simplifies the entire process of finding the right software solution
            for businesses. Our sales experts also consult business customers
            and understand their requirements to help them make the best
            software purchase.
          </p>
          <p>
            Techjockey was co-founded by serial entrepreneurs Akash Nangia&
            Arjun Mittal in 2016 with a mission to aggregate small and large
            software vendors and fulfill the software needs of SMEs, especially
            located in tier 2 and tier 3 cities. The core business model of
            Techjockey involves the listing of unrepresented software solutions
            from premium and niche vendors and matching them with
            industry-specific needs.
          </p>
          <p>
            The company helps original equipment manufacturers (OEMs) by giving
            their software the digital presence and global exposure. At present,
            Techjockey enjoys premium partnership with IT giants like VMWare,
            Dell and Microsoft, and tech start-ups alike.
          </p>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
